body{
    background-color: rgb(226, 226, 226);
}

.header{
    text-align: center;
    color: rgb(25, 25, 145);
    font-size: 35px;
    font-weight: bold;
}

.act{
    color: grey;
    font-size: 20px;
}

.prologue{
    color: grey;
    font-size: 20px;
}

.scene{
    color: grey;
    font-size: 20px;
}

.sampson{
    color: grey;
    font-size: 20px;
}

.gregory{
    color: grey;
    font-size: 20px;
}

.text{
    font-style: italic;
}




.h1{
    font-size: 32px;
}

.text1{
    line-height: 2;
}

.player_cards{
    margin-bottom: 20px;

}

.hearts{
    color: red;
    font-size: 22px;
    background-color: antiquewhite;
}

.diamonds{
    color: red;
    font-size: 22px;
    background-color: antiquewhite;
}

.clubs{
    color: black;
    font-size: 22px;
    background-color: antiquewhite;
}

.spades{
    color: black;
    font-size: 22px;
    background-color: antiquewhite;
}

