.header{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.h2{
    text-align: center;
}

.text{
    font-size: 17px;
    font-weight: bold;
}

.html{
    text-decoration: dashed underline;
    font-weight: bold;
}

.html1{
    text-decoration: dashed underline;
}

.tags{
    font-style: italic;
}

.text1{
    color: rgb(199, 1, 1);
    background-color: rgb(241, 235, 228);
}

.pre{
    background-color: rgb(241, 235, 228);
}

.code{
    color: rgb(199, 1, 1);
}

.Tags{
    font-weight: bold;
}

.text2{
    color: cadetblue;
    background-color: rgb(241, 235, 228);
}